<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.apksoft.android.datoveschranky"
      android:versionCode="14"
      android:versionName="1.93">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".DSWidget" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_ds" />
        </receiver>
    
        <service android:name=".DSWidget$UpdateService" />
    
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".SettingsActivity" android:label="@string/settings" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".DataBoxActivity"  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".MessagesActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait" />
		<activity android:name=".MessageActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait" />
		<activity android:name=".SearchActivity"  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".MessageComposeActivity"  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />

    </application>
    <supports-screens anyDensity="false"/>
    <uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 